@page
@model AtulaHomeFurniture.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div class="row">
    <div class="col-md-6 mb-4">
        <a asp-page="./Create" class="btn btn-primary mb-3">Create New Category</a>
    </div>
    <div class="col-md-6 mb-4">
        <a asp-area="" asp-page="/Dashboard">Dashboard</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@category.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable();
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.success(successMessage);
            }
        });
    </script>
}